{% extends 'base.html.twig' %}

{% block title %}Ma Commandes- La boutique Francaise!
{% endblock %}

{% block content %}
	<h1>Ma Commande 
		"{{order.reference}}"</h1>


	<hr>

	{% if order|length == 0 %}
		Vous n'avez pas passés de commandez chez "La boutique Francaise" . Pour consultez nos produits,
		<a href="{{path('app_home')}}">cliquez ICI</a>
	{% else %}

	

		<strong>Commande passée le :
		</strong>
		{{ order.createdAt|date('d/m/Y') }}
		<br>
		<strong>Transporteur choisi :
		</strong>
		{{order.carrierName}}
		<br>
		<hr>
		<strong>Statut de la Commande :
		</strong>
		{% if  order.state == 1 %}
							Payement Accépté
						{% elseif order.state == 2 %}
							Commande en Cours de Préparation 
						{% elseif order.state == 3 %}
							En Cours de livraison
						{% endif %}
		<hr>
		<strong>Details :
		</strong>
		<br>

		<table class="table mt-4 mb-4">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					
					<th scope="col">Prix Unitaire</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix Total</th>
					<th scope="col"></th>

				</tr>
			</thead>
			<tbody>
            

				{% for product in order.orderDetails %}
				
					<tr>
						<td><span >{{product.product}}</span></td>
						
						<td>{{((product.price)/100 )| number_format(2,',','.')}} €</td>

						<td >x {{product.quantity}}</td>
						<td>{{((product.price * product.quantity)/100) | number_format(2,',','.')}} €</td>
						

					</tr>
				{% endfor %}



			</tbody>
		</table>
	{% endif %}
    <hr>
<div class="text-end">
<strong>SousTotal :</strong>{{((order.getTotal)/100 )| number_format(2,',','.')}} €<br>
<strong>Frais de Livraison :</strong> {{((order.carrierPrice)/100 )| number_format(2,',','.')}}€<hr>
<strong>Total de la commande :</strong> {{((order.getTotal + order.carrierPrice)/100 )| number_format(2,',','.')}}€</div>

	<hr>
	<a href="{{path('app_account')}}">Retour à mon compte</a>
	<br>
	<hr>
{% endblock %}
